body {
    background-color: rgba(50,102,204,1);
    background-image: linear-gradient(rgba(255,255,255,.2) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.1) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.content-box {
    animation: fadein;
    animation-duration: 1s;
    background-color: whitesmoke;
    box-shadow: 10px 10px 0 #e8e8e8;
    margin: 40px 0;
    opacity: 1;
    overflow: auto;
    padding: 10px 15px;
}

.avatar {
    float: left;
    height: 150px;
    margin: 0 15px 0 0;
    width: 150px;
}

@media screen and (max-width: 700px) {
    .avatar {
        display: none;
    }
}

.post-title {
    font-size: 30px;
    margin: 0;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}